@mixin centerFlex($direction) {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: $direction;
    text-align:justify;
}


header {

    @include centerFlex(row);
    background:rgb(2, 31, 41);
    color: $textColor;
    padding:20px;
    display: flex;
    justify-content: align;

}